{% include 'javab.html'%}
{% block body %}


<div style="position:absolute; align-items: center; justify-content: center; margin: 5% 5% 5% 5%;" class="div-share-c">
    <div class="w3-col l10 m12" id="main">
        <div id="mainLeaderboard" style="overflow:hidden;">
          <!-- MainLeaderboard-->
  
          <!--<pre>main_leaderboard, all: [728,90][970,90][320,50][468,60]</pre>-->
          <div id="adngin-main_leaderboard-0" data-google-query-id="CPG-qaf49_8CFa6LSwUdxasPeg"><div id="google_ads_iframe_/22152718,16833175/sws-hb//w3schools.com//main_leaderboard_0__container__" style="border: 0pt none;"><iframe id="google_ads_iframe_/22152718,16833175/sws-hb//w3schools.com//main_leaderboard_0" name="google_ads_iframe_/22152718,16833175/sws-hb//w3schools.com//main_leaderboard_0" title="3rd party ad content" width="970" height="90" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" role="region" aria-label="Advertisement" tabindex="0" style="border: 0px; vertical-align: bottom;" data-load-complete="true" data-google-container-id="1"></iframe></div></div>
          <!-- adspace leaderboard -->
  
        </div>
  
  <h1>Java <span class="color_h1">While Loop</span></h1>
  <div class="w3-clear nextprev">
  <a class="w3-left w3-btn" href="java_switch.asp">❮ Previous</a>
  <a class="w3-right w3-btn" href="java_for_loop.asp">Next ❯</a>
  </div>
  <hr>
  <h2>Loops</h2>
  <p>Loops can execute a block of code as long as a specified condition is reached.</p>
  <p>Loops are handy because they save time, reduce errors, and they make code 
  more readable.</p>
  <hr>
  
  <h2>Java While Loop</h2>
  
  <p>The <code class="w3-codespan">while</code> loop loops through a block of code as long as a specified condition is <code class="w3-codespan">true</code>:</p>
  
  <div class="w3-example">
  <h3>Syntax<a class="ws-black ws-hover-black spaces-tryit ga-featured" href="https://www.w3schools.com/spaces/" title="W3Schools Spaces" target="_blank">Get your own Java Server</a></h3>
  <pre class="w3-white language-java" tabindex="0"><code class="language-java"><span class="token keyword keyword-while">while</span> <span class="token punctuation">(</span><em>condition</em><span class="token punctuation">)</span> <span class="token punctuation">{</span>
  <i>  <span class="token comment">// code block to be executed</span></i><span class="token comment"></span>
  <span class="token punctuation">}</span>
  </code></pre>
  </div>
  
  <p>In the example below, the code in the loop will run, over and over again, as long as 
  a variable (i) is less than 5:</p>
  
  <div class="w3-example">
  <h3>Example</h3>
  <pre class="w3-white language-java" tabindex="0"><code class="language-java"><span class="token keyword keyword-int">int</span> i <span class="token operator">=</span> <span class="token number">0</span><span class="token punctuation">;</span>
  <span class="token keyword keyword-while">while</span> <span class="token punctuation">(</span>i <span class="token operator">&lt;</span> <span class="token number">5</span><span class="token punctuation">)</span> <span class="token punctuation">{</span>
    <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span>i<span class="token punctuation">)</span><span class="token punctuation">;</span>
    i<span class="token operator">++</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span>
  </code></pre>
  <p>
  <a target="_blank" class="w3-btn" href="tryjava.asp?filename=demo_while_loop">Try it Yourself »</a>
  </p>
  </div>
  
  <div class="w3-panel w3-note">
  <p><strong>Note:</strong> Do not forget to increase the variable used in the condition, otherwise 
  the loop will never end!</p>
  </div>
  <hr>
  <div id="midcontentadcontainer" style="overflow:auto;text-align:center">
  <!-- MidContent -->
  <!-- <p class="adtext">Advertisement</p> -->
  
    <div id="adngin-mid_content-0" data-google-query-id="CMq7h6j49_8CFdlAfQodYyoMMA"><div id="sn_ad_label_adngin-mid_content-0" class="sn_ad_label" style="color:#000000;font-size:12px;margin:0;text-align:center;">ADVERTISEMENT</div><div id="google_ads_iframe_/22152718,16833175/sws-hb//w3schools.com//mid_content_0__container__" style="border: 0pt none;"><iframe id="google_ads_iframe_/22152718,16833175/sws-hb//w3schools.com//mid_content_0" name="google_ads_iframe_/22152718,16833175/sws-hb//w3schools.com//mid_content_0" title="3rd party ad content" width="1" height="1" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" role="region" aria-label="Advertisement" tabindex="0" style="border: 0px; vertical-align: bottom; width: 300px; height: 250px;" data-load-complete="true" data-google-container-id="6"></iframe></div></div>
    
  </div>
  <hr>
  
  <h2>The Do/While Loop</h2>
  <p>The <code class="w3-codespan">do/while</code> loop is a variant of the <code class="w3-codespan">while</code> loop. This loop will 
  execute the code block once, before checking if the condition is true, then it will
  repeat the loop as long as the condition is true.</p>
  
  <div class="w3-example">
  <h3>Syntax</h3>
  <pre class="w3-white language-java" tabindex="0"><code class="language-java"><span class="token keyword keyword-do">do</span> <span class="token punctuation">{</span>
  <i>  <span class="token comment">// code block to be executed</span>
  </i><span class="token punctuation">}</span>
  <span class="token keyword keyword-while">while</span> <span class="token punctuation">(</span><em>condition</em><span class="token punctuation">)</span><span class="token punctuation">;</span>
  </code></pre>
  </div>
  
  <p>The example below uses a <code class="w3-codespan">do/while</code> loop. The loop will always be 
  executed at least once, even if the condition is false, because the code block 
  is executed before the condition is tested:</p>
  
  <div class="w3-example">
  <h3>Example</h3>
  <pre class="w3-white language-java" tabindex="0"><code class="language-java"><span class="token keyword keyword-int">int</span> i <span class="token operator">=</span> <span class="token number">0</span><span class="token punctuation">;</span><span class="token keyword keyword-do"><br>do</span> <span class="token punctuation">{</span>
    <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span>i<span class="token punctuation">)</span><span class="token punctuation">;</span>
    i<span class="token operator">++</span><span class="token punctuation">;</span>
  <span class="token punctuation">}</span>
  <span class="token keyword keyword-while">while</span> <span class="token punctuation">(</span>i <span class="token operator">&lt;</span> <span class="token number">5</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
  </code></pre>
  <p>
  <a target="_blank" class="w3-btn" href="tryjava.asp?filename=demo_do_while_loop">Try it Yourself »</a>
  </p>
  </div>
  
  <div class="w3-panel w3-note">
  <p>Do not forget to increase the variable used in the condition, otherwise 
  the loop will never end!</p>
  </div>
  <hr>
  
  <div>
  <form autocomplete="off" spellcheck="false" id="w3-exerciseform" action="exercise.asp?filename=exercise_while_loop1" method="post" target="_blank">
  <h2>Test Yourself With Exercises</h2>
  <div class="exercisewindow">
  <h2>Exercise:</h2>
  <p>Print <code class="w3-codespan">i</code> as long as <code class="w3-codespan">i</code> is less than 6.</p>
  <div class="exerciseprecontainer">
  <pre style="overflow: auto;">int i = 1;
  <input name="ex1" maxlength="5" style="width: 55px;" fdprocessedid="6qi627"> (i &lt; 6) {
    System.out.println(i); 
    <input name="ex2" maxlength="3" style="width: 35px;" fdprocessedid="8dv76k">;
  }
  </pre>
  </div>
  <br>
  <button type="submit" class="w3-btn w3-margin-bottom" fdprocessedid="0gp9v7">Submit Answer »</button>
  <p><a target="_blank" href="exercise.asp?filename=exercise_while_loop1">Start the Exercise</a></p>
  </div>
  </form>
  </div>
  <hr>
  
  <br>
  <div class="w3-clear nextprev">
  <a class="w3-left w3-btn" href="java_switch.asp">❮ Previous</a>
  <a class="w3-right w3-btn" href="java_for_loop.asp">Next ❯</a>
  </div>
  <div id="mypagediv2" style="position:relative;text-align:center;margin-bottom:20px;clear:both;" class="active">&nbsp;<a href="https://profile.w3schools.com/log-in?redirect_url=https%3A%2F%2Fmy-learning.w3schools.com"><img src="https://www.w3schools.com/images/mypagelogo32x32.png" alt="MYPAGE" style="position:absolute;top:18px;margin-left:10px;"><svg style="position:absolute;xtop:0;xright:0;height:70px;width:70px"><path id="mypage2_circle1" fill="none" stroke="rgba(4, 170, 109, 0.1)" stroke-width="4" d="M 25.995811209816477 11.000000365540902 A 24 24 0 1 0 26 11"></path><path id="mypage2_circle2" fill="none" stroke="rgba(4, 170, 109, 1)" stroke-width="4" d="M 31.968557291956518 11.754004132912854 A 24 24 0 0 0 26 11"></path></svg></a></div>
  </div>
  <div class="w3-col l10 m12" id="main">
    <div id="mainLeaderboard" style="overflow:hidden;">
      <!-- MainLeaderboard-->

      <!--<pre>main_leaderboard, all: [728,90][970,90][320,50][468,60]</pre>-->
      <div id="adngin-main_leaderboard-0" data-google-query-id="CN7Cv7n49_8CFXAGgwMd_lEOYQ"><div id="google_ads_iframe_/22152718,16833175/sws-hb//w3schools.com//main_leaderboard_0__container__" style="border: 0pt none;"><iframe id="google_ads_iframe_/22152718,16833175/sws-hb//w3schools.com//main_leaderboard_0" name="google_ads_iframe_/22152718,16833175/sws-hb//w3schools.com//main_leaderboard_0" title="3rd party ad content" width="970" height="90" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" role="region" aria-label="Advertisement" tabindex="0" style="border: 0px; vertical-align: bottom;" data-load-complete="true" data-google-container-id="2"></iframe></div></div>
      <!-- adspace leaderboard -->

    </div>

<h1>Java <span class="color_h1">For Loop</span></h1>
<div class="w3-clear nextprev">
<a class="w3-left w3-btn" href="java_while_loop.asp">❮ Previous</a>
<a class="w3-right w3-btn" href="java_foreach_loop.asp">Next ❯</a>
</div>
<hr>

<h2>Java For Loop</h2>

<p>When you know exactly how many times you want to loop through a block of 
code, use the <code class="w3-codespan">for</code> loop instead of a <code class="w3-codespan">while</code> loop:</p>

<div class="w3-example">
<h3>Syntax<a class="ws-black ws-hover-black spaces-tryit ga-featured" href="https://www.w3schools.com/spaces/" title="W3Schools Spaces" target="_blank">Get your own Java Server</a></h3>
<pre class="w3-white language-java" tabindex="0"><code class="language-java"><span class="token keyword keyword-for">for</span> <span class="token punctuation">(</span><i>statement <span class="token number">1</span></i><span class="token number"></span><span class="token punctuation">;</span><i> statement <span class="token number">2</span></i><span class="token number"></span><span class="token punctuation">;</span><i> statement <span class="token number">3</span></i><span class="token number"></span><span class="token punctuation">)</span> <span class="token punctuation">{</span>
<span class="token comment"><i>// code block to be executed</i></span>
<span class="token punctuation">}</span></code></pre>
</div>

<p><strong>Statement 1</strong> is executed (one time) before the execution of the code block.</p>
<p><strong>Statement 2</strong> defines the condition for executing the code block.</p>
<p><strong>Statement 3</strong> is executed (every time) after the code block has been executed.</p>

<p>The example below will print the numbers 0 to 4:</p>
<div class="w3-example">
<h3>Example</h3>
<pre class="w3-white language-java" tabindex="0"><code class="language-java"><span class="token keyword keyword-for">for</span> <span class="token punctuation">(</span><span class="token keyword keyword-int">int</span> i <span class="token operator">=</span> <span class="token number">0</span><span class="token punctuation">;</span> i <span class="token operator">&lt;</span> <span class="token number">5</span><span class="token punctuation">;</span> i<span class="token operator">++</span><span class="token punctuation">)</span> <span class="token punctuation">{</span>
<span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span>i<span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token punctuation">}</span>
</code></pre>
<p>
<a target="_blank" class="w3-btn" href="tryjava.asp?filename=demo_for_loop">Try it Yourself »</a>
</p>
</div>

<h4>Example explained</h4>
<p>Statement 1 sets a variable before the loop starts (int i = 0).</p>
<p>Statement 2 defines the condition for the loop to run (i must be less than 
5). If the condition is true, the loop will start over again, if it is false, 
the loop will end.</p>
<p>Statement 3 increases a value (i++) each time the code block in the loop has 
been executed.</p>
<hr>
<h2>Another Example</h2>
<p>This example will only print even values between 0 and 10:</p>
<div class="w3-example">
<h3>Example</h3>
<pre class="w3-white language-java" tabindex="0"><code class="language-java"><span class="token keyword keyword-for">for</span> <span class="token punctuation">(</span><span class="token keyword keyword-int">int</span> i <span class="token operator">=</span> <span class="token number">0</span><span class="token punctuation">;</span> i <span class="token operator">&lt;=</span> <span class="token number">10</span><span class="token punctuation">;</span> i <span class="token operator">=</span> i <span class="token operator">+</span> <span class="token number">2</span><span class="token punctuation">)</span> <span class="token punctuation">{</span>
<span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span>i<span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token punctuation">}</span></code></pre>
<p>
<a target="_blank" class="w3-btn" href="tryjava.asp?filename=demo_for_loop_even">Try it Yourself »</a>
</p>
</div>
<hr>

<h2>Nested Loops</h2>
<p>It is also possible to place a loop inside another loop. This is called a
<strong>nested loop</strong>.</p>
<p>The "inner loop" will be executed one time for each iteration of the "outer loop":</p>
<div class="w3-example">
<h3>Example</h3>
<pre class="w3-white language-java" tabindex="0"><code class="language-java"><span class="token comment">// Outer loop</span>
<span class="token keyword keyword-for">for</span> <span class="token punctuation">(</span><span class="token keyword keyword-int">int</span> i <span class="token operator">=</span> <span class="token number">1</span><span class="token punctuation">;</span> i <span class="token operator">&lt;=</span> <span class="token number">2</span><span class="token punctuation">;</span> i<span class="token operator">++</span><span class="token punctuation">)</span> <span class="token punctuation">{</span>
<span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span><span class="token string">"Outer: "</span> <span class="token operator">+</span> i<span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token comment">// Executes 2 times</span>

<span class="token comment">// Inner loop</span>
<span class="token keyword keyword-for">for</span> <span class="token punctuation">(</span><span class="token keyword keyword-int">int</span> j <span class="token operator">=</span> <span class="token number">1</span><span class="token punctuation">;</span> j <span class="token operator">&lt;=</span> <span class="token number">3</span><span class="token punctuation">;</span> j<span class="token operator">++</span><span class="token punctuation">)</span> <span class="token punctuation">{</span>
  <span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span><span class="token string">" Inner: "</span> <span class="token operator">+</span> j<span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token comment">// Executes 6 times (2 * 3)</span>
<span class="token punctuation">}</span>
<span class="token punctuation">}</span> </code></pre>
<p>
<a target="_blank" class="w3-btn" href="tryjava.asp?filename=demo_for_loop_nested">Try it Yourself »</a>
</p>
</div>

<div>
<form autocomplete="off" spellcheck="false" id="w3-exerciseform" action="exercise.asp?filename=exercise_while_loop3" method="post" target="_blank">
<h2>Test Yourself With Exercises</h2>
<div class="exercisewindow">
<h2>Exercise:</h2>
<p>Use a <code class="w3-codespan">for</code> loop to print "Yes" 5 times.</p>
<div class="exerciseprecontainer">
<pre style="overflow: auto;"><input name="ex1" maxlength="3" style="width: 35px;" fdprocessedid="m1jl4q"> (int i = 0; i &lt; 5; <input name="ex2" maxlength="3" style="width: 35px;" fdprocessedid="hfw0nc">) {
System.out.println(<input name="ex3" maxlength="5" style="width: 55px;" fdprocessedid="arjup5">);
}
</pre>
</div>
<br>
<button type="submit" class="w3-btn w3-margin-bottom" fdprocessedid="fn4m9">Submit Answer »</button>
<p><a target="_blank" href="exercise.asp?filename=exercise_while_loop3">Start the Exercise</a></p>
</div>
</form>
</div>
<hr>

<div class="w3-clear nextprev">
<a class="w3-left w3-btn" href="java_while_loop.asp">❮ Previous</a>
<a class="w3-right w3-btn" href="java_foreach_loop.asp">Next ❯</a>
</div>
<div id="mypagediv2" style="position:relative;text-align:center;margin-bottom:20px;clear:both;" class="active">&nbsp;<a href="https://profile.w3schools.com/log-in?redirect_url=https%3A%2F%2Fmy-learning.w3schools.com"><img src="https://www.w3schools.com/images/mypagelogo32x32.png" alt="MYPAGE" style="position:absolute;top:18px;margin-left:10px;"><svg style="position:absolute;xtop:0;xright:0;height:70px;width:70px"><path id="mypage2_circle1" fill="none" stroke="rgba(4, 170, 109, 0.1)" stroke-width="4" d="M 25.995811209816477 11.000000365540902 A 24 24 0 1 0 26 11"></path><path id="mypage2_circle2" fill="none" stroke="rgba(4, 170, 109, 1)" stroke-width="4" d="M 31.968557291956518 11.754004132912854 A 24 24 0 0 0 26 11"></path></svg></a></div>
</div>
<div class="w3-col l10 m12" id="main">
    <div id="mainLeaderboard" style="overflow:hidden;">
      <!-- MainLeaderboard-->

      <!--<pre>main_leaderboard, all: [728,90][970,90][320,50][468,60]</pre>-->
      <div id="adngin-main_leaderboard-0" data-google-query-id="CJqq48T49_8CFSuySwUddKgDtA"><div id="google_ads_iframe_/22152718,16833175/sws-hb//w3schools.com//main_leaderboard_0__container__" style="border: 0pt none;"><iframe id="google_ads_iframe_/22152718,16833175/sws-hb//w3schools.com//main_leaderboard_0" name="google_ads_iframe_/22152718,16833175/sws-hb//w3schools.com//main_leaderboard_0" title="3rd party ad content" width="728" height="90" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" role="region" aria-label="Advertisement" tabindex="0" style="border: 0px; vertical-align: bottom;" data-load-complete="true" data-google-container-id="1"></iframe></div></div>
      <!-- adspace leaderboard -->

    </div>

<h1>Java <span class="color_h1">For Each Loop</span></h1>
<div class="w3-clear nextprev">
<a class="w3-left w3-btn" href="java_for_loop.asp">❮ Previous</a>
<a class="w3-right w3-btn" href="java_break.asp">Next ❯</a>
</div>
<hr>

<h2>For-Each Loop</h2>
<p>There is also a "<b>for-each</b>" loop, which is used exclusively to loop through elements in an <a href="java_arrays.asp"><strong>array</strong></a>:</p>
<div class="w3-example">
<h3>Syntax<a class="ws-black ws-hover-black spaces-tryit ga-featured" href="https://www.w3schools.com/spaces/" title="W3Schools Spaces" target="_blank">Get your own Java Server</a></h3>
<pre class="w3-white language-java" tabindex="0"><code class="language-java"><span class="token keyword keyword-for">for</span> <span class="token punctuation">(</span><em>type</em> <em>variableName</em> <span class="token operator">:</span> <em>arrayName</em><span class="token punctuation">)</span> <span class="token punctuation">{</span>
<span class="token comment"><i>// code block to be executed</i></span>
<span class="token punctuation">}</span>
</code></pre>
</div>
<p>The following example outputs all elements in the <strong>cars</strong> 
array, using a "<b>for-each</b>" loop:</p>

<div class="w3-example">
<h3>Example</h3>
<pre class="w3-white language-java" tabindex="0"><code class="language-java"><span class="token class-name">String</span><span class="token punctuation">[</span><span class="token punctuation">]</span> cars <span class="token operator">=</span> <span class="token punctuation">{</span><span class="token string">"Volvo"</span><span class="token punctuation">,</span> <span class="token string">"BMW"</span><span class="token punctuation">,</span> <span class="token string">"Ford"</span><span class="token punctuation">,</span> <span class="token string">"Mazda"</span><span class="token punctuation">}</span><span class="token punctuation">;</span>
<span class="token keyword keyword-for">for</span> <span class="token punctuation">(</span><span class="token class-name">String</span> i <span class="token operator">:</span> cars<span class="token punctuation">)</span> <span class="token punctuation">{</span>
<span class="token class-name">System</span><span class="token punctuation">.</span>out<span class="token punctuation">.</span><span class="token function">println</span><span class="token punctuation">(</span>i<span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token punctuation">}</span>
</code></pre>
<p>
<a target="_blank" class="w3-btn" href="tryjava.asp?filename=demo_array_for_each">Try it Yourself »</a>
</p>
</div>
<div class="w3-note w3-panel">
<p><strong>Note:</strong> Don't worry if you don't understand the example above. You will learn more about Arrays in the <a href="java_arrays.asp">Java Arrays chapter</a>.</p></div>

<hr>

<div class="w3-clear nextprev">
<a class="w3-left w3-btn" href="java_for_loop.asp">❮ Previous</a>
<a class="w3-right w3-btn" href="java_break.asp">Next ❯</a>
</div>
<div id="mypagediv2" style="position:relative;text-align:center;margin-bottom:20px;clear:both;" class="active">&nbsp;<a href="https://profile.w3schools.com/log-in?redirect_url=https%3A%2F%2Fmy-learning.w3schools.com"><img src="https://www.w3schools.com/images/mypagelogo32x32.png" alt="MYPAGE" style="position:absolute;top:18px;margin-left:10px;"><svg style="position:absolute;xtop:0;xright:0;height:70px;width:70px"><path id="mypage2_circle1" fill="none" stroke="rgba(4, 170, 109, 0.1)" stroke-width="4" d="M 25.995811209816477 11.000000365540902 A 24 24 0 1 0 26 11"></path><path id="mypage2_circle2" fill="none" stroke="rgba(4, 170, 109, 1)" stroke-width="4" d="M 31.968557291956518 11.754004132912854 A 24 24 0 0 0 26 11"></path></svg></a></div>
</div>
    <a href="{%url 'j6arrays'%}" id="link-j1intro" class="b-href">Back</a>
    <a href="{%url 'j4datatype'%}" id="link-j2syntax" class="a-href">Next</a>
</div>
{% endblock body%}