{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
<div class="container">
    <img src="static/images/hero.jpeg" class="d-block" alt="...">
</div>
<div class="l-content-container container">
    <div class="block-content">
		<h1 class="block-headline" id="h-we-empower-business-leaders-to-make-informed-decisions">
            We Empower students to make informed decisions with there high skill.
        </h1>
        <p class="has">
            Founded in 2009, Atech is the premier valuation firm that combines the highest level of services and quality with the energy and efficiency of a startup.
        </p>
    </div>
</div>
{% endblock body %}