{% extends 'base.html' %}
{% block title %}Index{% endblock title %}
{% block body %}
<div class="carousel modal modal-backdrop modal-dialog">
  <div class="carousel-container">
    <div class="carousel-item active">
      <img src="static/images/consulting1.jpg" alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img src="static/images/consulting3.jpg" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="static/images/consulting3.jpg" alt="Slide 3">
    </div>
  </div>
</div>
<footer class="fds">
  <span class="ph">
    <h3>Contact us on: </h3>
    <p><i class="fa fa-phone"> Mobile no.:7620313321</i></p>
    <p><i class="fa fa-envelope"> Email : atharvmh2002@gmail.com</i></p>
  </span>
  <hr>
  <span class="socialm">
    <h3>Our Social Media Pages are:</h3>
    <div class="box">
      <div class="vertical">
        <p class="title">Twitter</p>
        <a href="">
          <i class="fa fa-twitter ig" style="font-size: 27px; border-radius: 2px;"></i>
        </a>
      </div>
      <div class="vertical">
        <p class="title">Instagram</p>
        <a href=""><i class="fa fa-instagram ig"
            style="font-size: 27px; border-radius: 2px; background-color: rgb(209, 87, 107);"></i>
        </a>
      </div>
      <div class="vertical">
        <p class="title">facebook</p>
        <a href=""><i class="fa fa-facebook ig" style="font-size: 27px; border-radius: 2px; margin: 113px -9px;"></i>
        </a>
      </div>
      <div class="vertical">
        <p class="title">Youtube</p>
        <a href=""><i class="fa fa-youtube ig" style="font-size: 27px; border-radius: 2px; background-color: red;"></i>
        </a>
      </div>
      <div class="vertical">
        <p class="title">Linkedin</p>
        <a href="">
          <i class="fa fa-linkedin ig" style="font-size: 27px; border-radius: 2px;"></i>
        </a>
      </div>
    </div>
  </span>
  <span>
    <p style="text-align: center; position: relative; margin-top: 154px; margin-right: 84px;">
      &copy;2023-27 SpiritMind | All rights reserved
    </p>
  </span>
</footer>
{% endblock body %}