{% extends 'base.html' %}
{% block title %}services{% endblock title %}
{% block body %}
<div class="b container">{% comment "container is edited" %}{% endcomment %} 
  <form action="/services" method="post">
    {% csrf_token %}
      <h2 class="f">Enter your detail here</h2>
      <label for="name" class="c">Name</label><label class="g" for="">*</label>
      <input type="text" placeholder="Enter your Name" class="name" id="name">
      <label for="email" class="c">Email</label><label class="g" for="">*</label>
      <input type="email" placeholder="Enter your Email" class="email" id="email">
      <label for="phone" class="c">Phone no</label><label class="g" for="">*</label>
      <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your mobile number">
      <label for="desc" class="form-label c">Address</label>
      <input type="desc" rows="3">
      <button type="submit">Submit</button>
  </form>
</div>
{% endblock body %}